<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="cn" connectionString="Server=ARI\SQLEXPRESS;Database=FirmaDeTransportExtern;Integrated Security=True;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>


	<appSettings>		
		<add key="ParentTableName" value="Firma_transport"/>
		<add key="ChildTableName" value="Angajati"/>

		<add key="ParentNumberOfColumns" value="5"/>
		<add key="ChildNumberOfColumns" value="7"/>

		<add key="ParentPrimaryKey" value="caen"/>
		<add key="ChilPrimaryKey" value="cnp"/>
		<add key ="ChilForeignKey" value="caen"/>
		
		<add key="ParentColumnNames" value="caen,denumire,sediu_firma,telefon,email"/>
		<add key="ChildColumnNames" value="cnp,caen,nume,prenume,functie,salar,bonusuri"/>
		<add key ="InsertChildColumnNames" value="@cnp,@caen,@nume,@prenume,@functie,@salar,@bonusuri"/>
	
		<add key ="ChildInsert" value ="INSERT INTO Angajati(cnp, caen, nume, prenume, functie, salar, bonusuri) VALUES (@cnp, @caen, @nume, @prenume, @functie, @salar, @bonusuri)"/>
		<add key ="ChildUpdate" value="UPDATE Angajati SET caen = @caen, nume = @nume, prenume = @prenume, functie = @functie, salar = @salar, bonusuri = @bonusuri WHERE cnp = @cnp"/>
		<add key ="ChildDelete" value ="DELETE FROM Angajati WHERE cnp = @cnp"/>
	</appSettings>

</configuration>