
.image-container {
    border: 5px solid #000;
    width: 55%;
    max-height: 55%; 

    overflow: auto; 
    position: fixed; 
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-frame {
    border: 2px solid #000;
    background-color: orange;
    padding: 10px;
    width: calc(50% - 20px); 
    box-sizing: border-box; 
    margin: 10px;
}

.image-frame img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-frame p {
    text-align: center;
    margin: 5px 0 0;
}